  <% if !(@errors.nil?) %>
    <div class="error">
      <h2><%= @errors %></h2>
    </div>
  <% end %>
<%= form_tag "/login" %>
    <label for="email"><strong>Enter email address: </strong></label>
    <input id="email" name="email" type="text" />
    <p>
    <label for="password"><strong>Enter password:  </strong></label>
    <input id="password" name="password" type="text" />
    </p>
    <p>
    <input name="login" data-disable-with="Log in" type="submit" value="Log in" />
    </p>  